*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    padding: 100px;
    background-color: #000000;
}
.loader{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #ddd;
    border-top-color: #333;
    animation: rotate 1s infinite;
}
@keyframes rotate{
    100%{
        rotate: 360deg;
    }
}